*{
  margin: 0;
  padding: 0;
}

nav{
  padding: 10px;
}
ul{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
li{
  list-style-type: none;
}
.titulo{
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 20px;
}
a{
  color: #fff;
  text-decoration: none;
  padding: 5px;
  font-size: 1.15rem;
}
a:hover{
  color: #fff;
}